/* OTOBO is a web-based ticketing system for service organisations.

https://github.com/relkai/otobo-dark-skin

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later version.
This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
*/

/**
 * @package     Skin "OtoboDarkSkin"
 * @section     WidgetMenu
 */


 /*Overview which files get changed - Freicon changes at the end of the file*/
 @media screen,projection,tv,handheld {

    /*Core.Widget.css*/
    .WidgetSimple > .Content {
        background-color: #2B2B2B;
    }

    /*Core.TicketDetail.css*/
    div.Headline h1 {
        color: #c8c6c4;
    }
    .MessageBrowser p {
        background-color: #0a0a0a;
    }
    .ArticleMailContent iframe {
        background-color: #0a0a0a;
    }

    /*Core.Form.css*/
    fieldset.TableLike.FixedLabelSmall > .Value{
        color: #c8c6c4;
    }
    
    /*Core.Default.css*/
    body.ck-content strong {
        color: white;
    }
    body.ck-content a, body.ck-content u {
        color: #2D7DF4;
    }
    body.ck-content p, body.ck-content span, body.ck-content div {
        color: white;
    }
    body.ck-content {
        background-color: black;
    }
    .OverviewBox > h1 { /*Header "Queue-Ansicht: xyz"*/
        color: #c8c6c4;
    }
    /*Core.Inputfields.css*/
    div.InputField_TreeContainer {
        background-color: #1f1f1f;
    }
    .jstree-InputField .jstree-anchor, .jstree-InputField .jstree-anchor:link, .jstree-InputField .jstree-anchor:visited, .jstree-InputField .jstree-anchor:hover, .jstree-InputField .jstree-anchor:active {
    color: white;
    }
    div.InputField_Selection div{
        color: white;
    }
}